@use '../abstracts/variables' as *;

.experiment-grid {
    display: grid;

    grid-template-columns:
        repeat(
            3,
            minmax(0, 1fr)
        );

    gap:
        $space-xl;

    width:
        min(
            calc(100% - 3rem),
            $container-max
        );

    margin-inline: auto;

    padding-bottom:
        $space-4xl;
}


// ----------------------------------------
// Laptop
// ----------------------------------------

@media (
    max-width: 1200px
) {
    .experiment-grid {
        grid-template-columns:
            repeat(
                2,
                minmax(0, 1fr)
            );
    }
}


// ----------------------------------------
// Tablet
// ----------------------------------------

@media (
    max-width: $breakpoint-tablet
) {
    .experiment-grid {
        grid-template-columns:
            1fr;

        width:
            min(
                calc(100% - 2rem),
                $container-max
            );

        gap:
            $space-lg;
    }
}