.experiment-viewer {
    width: 95vw;
    max-width: none;

    height: 92vh;
    max-height: none;

    padding: 0;

    border: 0;
}

.experiment-viewer__content {
    min-height: 100%;
}

.experiment-viewer__body {
    padding: 1.5rem;

    overflow-x: auto;
}