@use '../abstracts/variables' as *;


// ----------------------------------------
// Reset
// ----------------------------------------

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-width: 320px;

    scroll-behavior: smooth;
}

body {
    margin: 0;

    min-width: 320px;
    min-height: 100vh;

    font-family:
        var(--font-sans);

    color:
        var(--color-text);

    background:
        var(--color-background);

    -webkit-font-smoothing:
        antialiased;

    text-rendering:
        optimizeLegibility;

    transition:
        color $transition-base,
        background $transition-base;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    color: inherit;
}

a {
    color: inherit;
}

img,
picture,
svg,
canvas {
    display: block;

    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

button,
a {
    -webkit-tap-highlight-color:
        transparent;
}

::selection {
    color:
        var(--color-white);

    background:
        var(--color-accent);
}